.Title{
  color: Blue; /* Set the h1 tag text colour to blue. */
}
button{ /* Add some styling to the button to make it look better */
  color: black;
  background-color:lightblue;
  border-color: lightblue;
}
